---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103UTy225BGP9bWCNnmJe9O1&plan=myflix_base&email=kaya.rolfson%40schaden.biz
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1392319151,
          "id": "cus_3UTy0NixrxPAwW",
          "livemode": false,
          "description": null,
          "email": "kaya.rolfson@schaden.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3UTy0NixrxPAwW/subscriptions",
            "data": [
              {
                "id": "sub_3UTyhIG2B1bbMQ",
                "plan": {
                  "interval": "month",
                  "name": "myflix_base_plan",
                  "created": 1392312654,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1392319151,
                "status": "active",
                "customer": "cus_3UTy0NixrxPAwW",
                "cancel_at_period_end": false,
                "current_period_start": 1392319151,
                "current_period_end": 1394738351,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3UTy0NixrxPAwW/cards",
            "data": [
              {
                "id": "card_103UTy225BGP9bWCCTVADGDc",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2015,
                "fingerprint": "9ejOe3jqfcNEBbko",
                "customer": "cus_3UTy0NixrxPAwW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103UTy225BGP9bWCCTVADGDc",
          "subscription": {
            "id": "sub_3UTyhIG2B1bbMQ",
            "plan": {
              "interval": "month",
              "name": "myflix_base_plan",
              "created": 1392312654,
              "amount": 999,
              "currency": "usd",
              "id": "myflix_base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1392319151,
            "status": "active",
            "customer": "cus_3UTy0NixrxPAwW",
            "cancel_at_period_end": false,
            "current_period_start": 1392319151,
            "current_period_end": 1394738351,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Thu, 13 Feb 2014 19:19:11 GMT
recorded_with: VCR 2.8.0
