---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103UTy225BGP9bWCLInlB3OI&plan=myflix_base&email=John%40example.com
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 13 Feb 2014 19:18:44 GMT
recorded_with: VCR 2.8.0
