---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_103RmR225BGP9bWCOA3sDZWw&currency=usd&description=Sign%20up%20charge%20for%20John%40example.com.
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103RmR225BGP9bWCErieZnVE"
          }
        }
  recorded_at: Thu, 06 Feb 2014 14:11:47 GMT
recorded_with: VCR 2.8.0
