---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_103RmR225BGP9bWCC6LDQS8b&currency=usd&description=Sign%20up%20charge%20for%20John%40example.com.
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103RmR225BGP9bWCbHOjK7vh",
          "object": "charge",
          "created": 1391695901,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103RmR225BGP9bWCZSviAiaz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2015,
            "fingerprint": "9ejOe3jqfcNEBbko",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103RmR225BGP9bWCQ9aq45m0",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for John@example.com.",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Thu, 06 Feb 2014 14:11:41 GMT
recorded_with: VCR 2.8.0
