---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103Ux1225BGP9bWCVCXmzLp3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103Ux1225BGP9bWCVCXmzLp3",
          "created": 1392427214,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103Ux1225BGP9bWCBw5lSZ8R",
              "object": "charge",
              "created": 1392427214,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103Ux1225BGP9bWCJFVbP3ng",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2015,
                "fingerprint": "9ejOe3jqfcNEBbko",
                "customer": "cus_3Ux1JsdfxOoeWa",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103Ux1225BGP9bWCzMOPrkVp",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3Ux1JsdfxOoeWa",
              "invoice": "in_103Ux1225BGP9bWCrsgEmQqz",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3Ux101Gd2bcTbZ"
        }
  recorded_at: Fri, 21 Feb 2014 06:18:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_103Ux1225BGP9bWCrsgEmQqz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1392427214,
          "id": "in_103Ux1225BGP9bWCrsgEmQqz",
          "period_start": 1392427214,
          "period_end": 1392427214,
          "lines": {
            "object": "list",
            "count": 1,
            "url": "/v1/invoices/in_103Ux1225BGP9bWCrsgEmQqz/lines",
            "data": [
              {
                "id": "sub_3Ux112aZUbmwft",
                "object": "line_item",
                "type": "subscription",
                "livemode": false,
                "amount": 999,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1392427214,
                  "end": 1394846414
                },
                "quantity": 1,
                "plan": {
                  "interval": "month",
                  "name": "myflix_base_plan",
                  "created": 1392312654,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "description": null,
                "metadata": null
              }
            ]
          },
          "subtotal": 999,
          "total": 999,
          "customer": "cus_3Ux1JsdfxOoeWa",
          "object": "invoice",
          "attempted": true,
          "closed": true,
          "paid": true,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 999,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": 0,
          "next_payment_attempt": null,
          "charge": "ch_103Ux1225BGP9bWCBw5lSZ8R",
          "discount": null,
          "application_fee": null,
          "subscription": "sub_3Ux112aZUbmwft",
          "metadata": {}
        }
  recorded_at: Fri, 21 Feb 2014 06:18:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_103Ux1225BGP9bWCrsgEmQqz/lines
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "[...]
[...]
