---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103V2m225BGP9bWCf1Ucp7KQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103V2m225BGP9bWCf1Ucp7KQ",
          "created": 1392448639,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103V2m225BGP9bWC9T6WQkAb",
              "object": "charge",
              "created": 1392448639,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103V2m225BGP9bWCrXUc5EgQ",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2015,
                "fingerprint": "aSJlbcPpOriuzQhS",
                "customer": "cus_3V1zhEIU6qX4Sl",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3V1zhEIU6qX4Sl",
              "invoice": null,
              "description": "fail charge",
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3V2megR3WwqR6L"
        }
  recorded_at: Sat, 15 Feb 2014 07:34:00 GMT
recorded_with: VCR 2.8.0
