:plain 
  <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
  <style type="text/css" media="screen, projection">
    @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
    #zenbox_tab {
      top: 20%;
      border-color: #b9090b;
    }
  </style>
  <script type="text/javascript">
    if (typeof(Zenbox) !== "undefined") {
      Zenbox.init({
        dropboxID:   "20116929",
        url:         "https://z3n372.zendesk.com",
        tabTooltip:  "Support",
        tabImageURL: "https://p4.zdassets.com/external/zenbox/images/tab_support_right.png",
        tabColor:    "#b9090b",
        tabPosition: "Right"
      });
    }
  </script>