%article.video_category
  %header
    %h3= link_to link_name
  .videos.row
    - videos.each do |v|
      .video.span2
        = link_to video_path(v), nil do
          %img(src="#{v.small_cover_url}")