- @categories.each do |c|
  - if c == "Uncategoried"
    = render 'search_list', items: videos_by_category(c), link_name: "Uncategoried"
  - else
    = render 'search_list', items: videos_by_category(c), link_name: "#{c.name}"