---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103Vy8225BGP9bWCrw7kp5iB&plan=myflix_base&email=jeica.langosh%40anderson.info
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1392661949,
          "id": "cus_3Vy83ZpRlrh21A",
          "livemode": false,
          "description": null,
          "email": "jeica.langosh@anderson.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Vy83ZpRlrh21A/subscriptions",
            "data": [
              {
                "id": "sub_3Vy8Qw8DOdwz4J",
                "plan": {
                  "interval": "month",
                  "name": "myflix_base_plan",
                  "created": 1392312654,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1392661949,
                "status": "active",
                "customer": "cus_3Vy83ZpRlrh21A",
                "cancel_at_period_end": false,
                "current_period_start": 1392661949,
                "current_period_end": 1395081149,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Vy83ZpRlrh21A/cards",
            "data": [
              {
                "id": "card_103Vy8225BGP9bWCOrunPHio",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2015,
                "fingerprint": "9ejOe3jqfcNEBbko",
                "customer": "cus_3Vy83ZpRlrh21A",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103Vy8225BGP9bWCOrunPHio",
          "subscription": {
            "id": "sub_3Vy8Qw8DOdwz4J",
            "plan": {
              "interval": "month",
              "name": "myflix_base_plan",
              "created": 1392312654,
              "amount": 999,
              "currency": "usd",
              "id": "myflix_base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1392661949,
            "status": "active",
            "customer": "cus_3Vy83ZpRlrh21A",
            "cancel_at_period_end": false,
            "current_period_start": 1392661949,
            "current_period_end": 1395081149,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Mon, 17 Feb 2014 18:32:31 GMT
recorded_with: VCR 2.8.0
