---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/123454321
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: 123454321",
            "param": "id"
          }
        }
  recorded_at: Thu, 20 Feb 2014 02:35:50 GMT
recorded_with: VCR 2.8.0
