---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103Wqd225BGP9bWCAFadtXzB",
          "livemode": false,
          "created": 1392864728,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103Wqd225BGP9bWCjdjNpk5c",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "9ejOe3jqfcNEBbko",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 20 Feb 2014 02:52:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103Wqd225BGP9bWCAFadtXzB&plan=myflix_base&email=adriel%40emmerich.biz
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1392864728,
          "id": "cus_3Wqdgtm6VKmkGv",
          "livemode": false,
          "description": null,
          "email": "adriel@emmerich.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Wqdgtm6VKmkGv/subscriptions",
            "data": [
              {
                "id": "sub_3WqdBdgvcyE9mC",
                "plan": {
                  "interval": "month",
                  "name": "myflix_base_plan",
                  "created": 1392312654,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1392864728,
                "status": "active",
                "customer": "cus_3Wqdgtm6VKmkGv",
                "cancel_at_period_end": false,
                "current_period_start": 1392864728,
                "current_period_end": 1395283928,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3Wqdgtm6VKmkGv/cards",
            "data": [
              {
                "id": "card_103Wqd225BGP9bWCjdjNpk5c",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "9ejOe3jqfcNEBbko",
                "customer": "cus_3Wqdgtm6VKmkGv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103Wqd225BGP9bWCjdjNpk5c",
          "subscription": {
            "id": "sub_3WqdBdgvcyE9mC",
            "plan": {
              "interval": "month",
              "name": "myflix_base_plan",
              "created": 1392312654,
              "amount": 999,
              "currency": "usd",
              "id": "myflix_base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1392864728,
            "status": "active",
            "customer": "cus_3Wqdgtm6VKmkGv",
            "cancel_at_period_end": false,
            "current_period_start": 1392864728,
            "current_period_end": 1395283928,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Thu, 20 Feb 2014 02:52:09 GMT
recorded_with: VCR 2.8.0
