---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103XHD225BGP9bWCgmkP7zcd",
          "livemode": false,
          "created": 1392963567,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103XHD225BGP9bWCAmvPnPtA",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "ODiyEuP8vlFOaIvX",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 21 Feb 2014 06:19:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103XHD225BGP9bWCgmkP7zcd&plan=myflix_base&email=kennedi.terry%40tromphagenes.net
    headers:
      Authorization:
      - Bearer sk_test_e2Jyqc84D52dW381fNpkCo4i
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 21 Feb 2014 06:19:28 GMT
recorded_with: VCR 2.8.0
